* {
    box-sizing: border-box;
}
:root {
    font-size: calc(1vw);
}
main {
    /* centre the contents of the main element horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tileGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 30rem;
}
.tile {
    font-size: 3rem;
    height: 5rem;
    aspect-ratio: 1;

    border: 0.05rem solid black;
    border-radius: 0.3rem;
    background-color: darkgrey;
    display: grid;
    place-items: center;
}
.tile.text {
    font-size: 1.3rem;
}

.tile p {
    margin: 0;
    padding: 0;
}
